.hero.is-info.is-bold {
  background-image: url("./resources/sf_pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #9A84AA;
  height: 450px;
}

.hero-foot {
  text-shadow: 1px 1px #000000;
  /* font-weight: bold; */
}

h1 {
  text-shadow: 2px 2px #000000;
}
