.hero.is-info.is-bold {
  background-image: url("./resources/sf_pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cccccc
}

h1 {
  text-shadow: 2px 2px #000000;
}
